*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*обнуление всех отступов и границ*/

*,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*меняет подсчет ширины блока для удобности */


:focus,:active{outline: none;}
a:focus,:active{outline: none;}
/*уераем линии обводки у некоторых браузерах */

nav, footer,header, aside{display: block;}
/* просто делаем теги блочными */

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* уравниваем поведение шрифтов для разных браузеров */

input,button,textarea,h2,h3{font-family: 'Open Sans', sans-serif;}
/* просто чтобы везде был один шрифт */

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: o;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* убираем особенности в разных браузерах */

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* обнуляем зоголовки */



.choice{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
button{
    height: 60%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 4px  rgb(92, 92, 92);
    background-color: rgb(28, 170, 231);
    color: white;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

button:hover{
    background-color: rgb(23, 139, 189);
    transition-duration: 0.4s;
}

a{
    width: 20vw;
    height: 10vw;
    margin-bottom: 18vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.message-first{
    margin: 50px 0px 5px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    a{
        width: 20vw;
        height: 10vw;
    }
}
@media (max-width: 992px) {
    a{
        width: 24vw;
        height: 12vw;
    }
    button{
        font-size: 3vw;
    }
}
@media (max-width: 767px) {
    a{
        width: 44vw;
        height: 22vw;
    }
    button{
        font-size: 5vw;
    }
}

@media (min-width: 992px) {
    p{
        font-size: 2vw;
    }
}
@media (max-width: 992px) {
    p{
        font-size: 3vw;
    }
}
@media (max-width: 767px) {
    p{
        font-size: 4vw;
    }
}

